<!-- Topbar -->


<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                            aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1">
          
        </li>

        <!-- Nav Item - Messages -->
        <li class="nav-item dropdown no-arrow mx-1">
           <div class="header_top">
            <div class="container-fluid">
                <div class="contact_nav">
                    <% if (typeof admin !=='undefined' && admin) { %>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>Call : <%= admin.phone %></span>
                        </a>
                        <a href="mailto:<%= admin.email %>">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>Email : <%= admin.email %></span>
                        </a>
                        <% } else if (typeof user !=='undefined' && user) { %>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>Call : <%= user.phone %></span>
                            </a>
                            <a href="mailto:<%= user.email %>">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>Email : <%= user.email %></span>
                            </a>
                            <% } else { %>
                                <a href="">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span>Call :</span>
                                </a>
                                <a href="mailto:demo@gmail.com">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span>Email :</span>
                                </a>
                                <% } %>

                </div>

            </div>
        </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <div class="d-flex">
                <% if (typeof admin !=='undefined' && admin) { %>
                    <a href="/admin/logout" class="btn btn-login">Logout</a>
                    <a href="/admin" class="btn btn-register">Admin Dashboard</a>
                    <% } else if (typeof user !=='undefined' && user) { %>
                        <a href="/user/logout" class="btn btn-login">Logout</a>
                        <% if (user.role==='user' ) { %>
                            <a href="/user/dashboard" class="btn btn-register">User Dashboard</a>
                            <% } %>
                                <% } else { %>
                                    <a href="/login" class="btn btn-login">Login</a>
                                    <a href="/register" class="btn btn-register">Register</a>
                                    <% } %>

            </div>

        </li>

    </ul>

</nav>

<!-- End of Topbar -->